{% extends "registration/landing.html" %}
{% load static %}
{% block content %}
    <!-- Header -->
    <header class="ex-header bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Instructor Resources</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Basic -->
    <div class="ex-basic-1 pt-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <!-- <h2 class="mb-3">Advantages of working with this template</h2> -->
                    <p>

                    Dear teachers,</p><p>
                    Thanks for considering this book for teaching. Along with the book, we will provide you with additional resources such as video lectures, lecture slides and an additional question set per chapter. You will need to fill out the following Google Form (Goggle account is needed) along with a valid access code (available on the advertisement page of the book). Please note that the email id that you will provide in the Google Form will be associated with the valid (unused) unique code so that the same code will not be accessed by the other email id. Once you fill out the form, you will be contacted in 48 hours by our handle <a class="purple" href="book.socialnetworkanalysis@gmail.com">book.socialnetworkanalysis@gmail.com</a> with the teaching materials. 
                    </p><p>
                    <b>Errant:</b> You are also requested to contact us in case you find any errors or mistakes in the book. 
                    </p><p>
                    <b>Feedback:</b> If you find the book useful, please do not forget to contact us with your valuable feedback. We will post your feedback on the website of the book. 
                    </p><p>
                    <b>Subscribe:</b> Please don't forget to subscribe to the book website for the latest updates and exciting news/events.  The subscription information is available on the home page of the website.
                    </p><p>
                    <b>Follow:</b> For regular updates, please follow us on <a href="">Twitter</a>.
                    </p><p>
                    Thanks once again for showing interest in the book. Hope you find the book useful for teaching and encourage your students to buy the book. 
                    </p><p>
                    --- Tanmoy Chakraborty
                    </p>
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->


   

    <!-- Basic -->
    <div class="ex-basic-1 pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScLVqVMie23LnEQhDFyfJOZ6UX81XCLzcrP-asDWsrvW3z2fA/viewform?embedded=true" width="940" height="2405" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

                    <!-- <a class="btn-solid-reg mb-5" href="index.html#download">Download</a> -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->


    

      <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Send us your queries at  <br> <a class="purple" href="book.socialnetworkanalysis@gmail.com">book.socialnetworkanalysis@gmail.com</a></h4>
                    <div class="social-container">
                        <!-- <span class="fa-stack">
                            <a href="https://scholar.google.co.in/citations?user=C5S9JnIAAAAJ&hl=en">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google fa-stack-1x"></i>
                            </a>
                        </span> -->
                        <span class="fa-stack">
                            <a href="https://twitter.com/tanmoy_chak?lang=en">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.linkedin.com/in/tanmoy-chakraborty-89553324/">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of social-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->

{% endblock %}